<h2>Add ingredients to <%= @cocktail.name %></h2>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: 'Amount/Measurement:'  %>
  <%= f.association :ingredient %>
  <%= f.submit "Confirm", class: "btn btn-custom"%>
  <%# 'Cancel', '#', class: 'btn btn-custom', id: 'cancelButton' %>
  <button class="btn btn-custom" id="cancelButton">Cancel</button>
<% end %>